<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_25_Pandas Cleaning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
!pip install datasets
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

---

In [ ]:
df.sort_values(by='job_posted_date', ascending=True, inplace=True)
df

## ðŸŸ© Sort by Salary (1.25.1)

In [ ]:
df.sort_values(by='salary_year_avg', ascending=False, inplace=True)
df.head(10)

---

## ðŸŸ© Create Remote Column (1.25.2)

In [8]:
df['Is Data Analyst'] = (df.job_title_short == 'Data Analyst').astype(int)
df[df['Is Data Analyst'] > 0]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,Is Data Analyst
108804,Data Analyst,Data Analyst,"New York, NY",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:04,False,False,United States,None,NaN,NaN,Metasys Technologies,"['sql', 'snowflake', 'visio', 'jira', 'conflue...","{'analyst_tools': ['visio'], 'async': ['jira',...",1
96906,Data Analyst,Data Analyst,"Bloomfield, CT",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:07,True,False,United States,None,NaN,NaN,Diverse Lynx,"['sql', 'sas', 'sas']","{'analyst_tools': ['sas'], 'programming': ['sq...",1
98438,Data Analyst,Data Analyst,"Washington, DC",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:22,False,True,United States,None,NaN,NaN,Guidehouse,"['sql', 'python', 'r', 'azure', 'snowflake', '...","{'analyst_tools': ['tableau', 'excel'], 'cloud...",1
110290,Data Analyst,Data Analyst,"Fairfax, VA",via CareerBuilder,Full-time,False,"New York, United States",2023-01-01 00:00:24,False,False,United States,None,NaN,NaN,Protask,"['sql', 'jira']","{'async': ['jira'], 'programming': ['sql']}",1
104526,Data Analyst,Jr. Data Analyst,"Torrance, CA",via Recruit.net,Full-time,False,"California, United States",2023-01-01 00:00:38,False,False,United States,None,NaN,NaN,Aquent,['excel'],{'analyst_tools': ['excel']},1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369494,Data Analyst,Data analyst,"Dallas, TX",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:03,True,False,Sudan,None,NaN,NaN,Dental Imaging Technologies Corporation,None,None,1
358704,Data Analyst,Data analyst,"Chandler, AZ",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:07,True,False,Sudan,None,NaN,NaN,FlexJobs,None,None,1
326336,Data Analyst,Data analyst,"Topeka, KS",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:07,True,False,Sudan,None,NaN,NaN,FlexJobs,None,None,1
358496,Data Analyst,Data analyst,"Hobbs, NM",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:10,True,False,Sudan,None,NaN,NaN,FlexJobs,None,None,1
356798,Data Analyst,Data analyst,"Gilbert, AZ",via Talent.com,Full-time,False,Sudan,2023-12-31 23:40:10,True,False,Sudan,None,NaN,NaN,FlexJobs,None,None,1

---

## ðŸŸ© Extract Year from Date (1.25.3)

---

## ðŸŸ¨ Drop Missing Salaries (1.25.4)

---